/* $dark-green: rgb(84 122 90); */

.features {
  background-color: rgb(255, 222, 192);
}

.features__content {
  gap: 7.2rem;
}

.circle {
  width: 22rem;
  height: 22rem;
  border: rgb(84 122 90) 2px solid;
  border-radius: 200px;
  color: rgb(84 122 90);
  text-align: center;

  flex-direction: column;
  gap: 0.4rem;
}

.circle__icon {
  width: 2.8rem;
  height: 2.8rem;
  margin-bottom: 1.2rem;
}

.circle__title {
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.circle__desc {
  font-size: 1.4rem;
  line-height: 1.2;
  width: 16.8rem;
}

@media (max-width: 1340px) {
  .features__content {
    gap: 2rem;
  }
}

@media (max-width: 1100px) {
  .circle {
    width: 18rem;
    height: 18rem;
    gap: 4px;
  }
  .circle__icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-bottom: 4px;
  }

  .circle__desc {
    font-size: 1.2rem;
    width: 13rem;
  }
}
